@import url(../../../../css-4);
#page-topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1002;
  background-color: var(--bs-header-bg);
}
.navbar-header {
  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  height: 70px;
  padding: 0 calc(1.5rem / 2) 0 0;
}
.navbar-header .dropdown .header-item.show {
  background: rgba(42, 48, 66, 0.05);
}
.navbar-brand-box {
  padding: 0 1.5rem;
  text-align: center;
  width: 240px;
}
.logo {
  line-height: 70px;
}
.logo .logo-sm {
  display: none;
}
.logo-light {
  display: none;
}
.app-search {
  padding: calc(32px / 2) 0;
}
.app-search .form-control {
  border: none;
  height: 38px;
  padding-left: 20px;
  padding-right: 40px;
  background-color: var(--bs-topbar-search-bg);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 30px;
}
.app-search span {
  position: absolute;
  z-index: 10;
  font-size: 13px;
  line-height: 38px;
  right: 13px;
  top: 0;
  color: var(--bs-header-item-color);
}
.megamenu-list li {
  position: relative;
  padding: 5px 0;
}
.megamenu-list li a {
  color: var(--bs-body-color);
}
@media (max-width: 992px) {
  .navbar-brand-box {
    width: auto;
  }
  .logo span.logo-lg {
    display: none;
  }
  .logo span.logo-sm {
    display: inline-block;
  }
}
.page-content {
  padding: 70px calc(1.5rem / 2) 60px calc(1.5rem / 2);
}
.header-item {
  height: 70px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: var(--bs-header-item-color);
  border: 0;
  border-radius: 0;
}
.header-item:hover {
  color: var(--bs-header-item-color);
}
.header-profile-user {
  height: 32px;
  width: 32px;
  background-color: #dee2e6;
}
.noti-icon i {
  font-size: 24px;
  color: var(--bs-header-item-color);
}
.noti-icon .badge {
  position: absolute;
  top: 17px;
  right: 7px;
}
.notification-item .d-flex {
  padding: 0.75rem 1rem;
}
.notification-item .d-flex:hover {
  background-color: var(--bs-tertiary-bg);
}
.dropdown-icon-item {
  display: block;
  border-radius: 3px;
  line-height: 34px;
  text-align: center;
  padding: 15px 0 9px;
  display: block;
  border: 1px solid transparent;
  color: #6c757d;
}
.dropdown-icon-item img {
  height: 24px;
}
.dropdown-icon-item span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dropdown-icon-item:hover {
  background-color: var(--bs-tertiary-bg);
}
.fullscreen-enable [data-bs-toggle="fullscreen"] .mdi-fullscreen::before {
  content: "\f0294";
}
body[data-topbar="dark"] #page-topbar {
  background-color: #36394c;
}
body[data-topbar="dark"] .navbar-header .dropdown.show .header-item {
  background-color: rgba(255, 255, 255, 0.05);
}
body[data-topbar="dark"] .header-item {
  color: #bfbfc5;
}
body[data-topbar="dark"] .header-item:hover {
  color: #bfbfc5;
}
body[data-topbar="dark"] .header-profile-user {
  background-color: rgba(255, 255, 255, 0.25);
}
body[data-topbar="dark"] .noti-icon i {
  color: #bfbfc5;
}
body[data-topbar="dark"] .logo-dark {
  display: none;
}
body[data-topbar="dark"] .logo-light {
  display: block;
}
body[data-topbar="dark"] .app-search .form-control {
  background-color: var(--bs-topbar-search-bg);
  color: #fff;
}
body[data-topbar="dark"]
  .app-search
  input.form-control::-webkit-input-placeholder,
body[data-topbar="dark"] .app-search span {
  color: rgba(255, 255, 255, 0.5);
}
body[data-sidebar="dark"] .navbar-brand-box {
  background: #EC4561;
}
body[data-sidebar="dark"] .logo-dark {
  display: none;
}
body[data-sidebar="dark"] .logo-light {
  display: block;
}
body[data-sidebar="colored"] .navbar-brand-box {
  background: var(--bs-sidebar-colored-bg);
}
body[data-sidebar="colored"] .logo-dark {
  display: none;
}
body[data-sidebar="colored"] .logo-light {
  display: block;
}
@media (max-width: 600px) {
  .navbar-header .dropdown {
    position: static;
  }
  .navbar-header .dropdown .dropdown-menu {
    left: 10px !important;
    right: 10px !important;
  }
}
@media (max-width: 380px) {
  .navbar-brand-box {
    display: none;
  }
}
body[data-layout="horizontal"] .navbar-header {
  padding: 0 calc(1.5rem / 2);
}
body[data-layout="horizontal"] .navbar-brand-box {
  width: auto;
  padding-left: 0;
}
body[data-layout="horizontal"] .page-content {
  margin-top: 70px;
  padding: 54px calc(1.5rem / 2) 60px calc(1.5rem / 2);
}
@media (max-width: 992px) {
  body[data-layout="horizontal"] .navbar-brand-box {
    width: auto;
    padding-left: 5px;
  }
  body[data-layout="horizontal"] .page-content {
    margin-top: 10px;
  }
}
body[data-bs-theme="dark"] .logo-dark {
  display: none !important;
}
body[data-bs-theme="dark"] .logo-light {
  display: block !important;
}
.page-title-box {
  padding: 24px 0;
}
.page-title-box .breadcrumb {
  background-color: transparent;
  padding: 0;
}
.page-title-box h4 {
  font-weight: 700;
}
.page-title-box {
  padding-bottom: 1.5rem;
}
.page-title-box .page-title {
  font-size: 18px;
  font-weight: 700;
}
.page-title-box .breadcrumb {
  padding: 0;
}
.page-title-box .dropdown .show.header-item {
  background-color: rgba(248, 249, 250, 0.1);
}
.footer {
  bottom: 0;
  padding: 20px calc(1.5rem / 2);
  position: absolute;
  right: 0;
  text-align: center;
  color: var(--bs-footer-color);
  left: 240px;
  height: 60px;
  background-color: var(--bs-footer-bg);
}
@media (max-width: 992px) {
  .footer {
    left: 0;
  }
}
.vertical-collpsed .footer {
  left: 70px;
}
body[data-layout="horizontal"] .footer {
  left: 0 !important;
}
.right-bar {
  background-color: var(--bs-rightbar-bg);
  -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06),
    0 1px 0 0 rgba(0, 0, 0, 0.02);
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
  display: block;
  position: fixed;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 280px;
  z-index: 9999;
  float: right !important;
  right: -290px;
  top: 0;
  bottom: 0;
}
.right-bar .right-bar-toggle {
  background-color: var(--bs-dark);
  height: 24px;
  width: 24px;
  line-height: 24px;
  color: var(--bs-white);
  text-align: center;
  border-radius: 50%;
}
.right-bar .right-bar-toggle:hover {
  background-color: rgba(var(--bs-dark), 0.9);
}
.rightbar-overlay {
  background-color: rgba(42, 48, 66, 0.55);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 9998;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.right-bar-enabled .right-bar {
  right: 0;
}
.right-bar-enabled .rightbar-overlay {
  display: block;
}
@media (max-width: 767.98px) {
  .right-bar {
    overflow: auto;
  }
  .right-bar .slimscroll-menu {
    height: auto !important;
  }
}
.metismenu {
  margin: 0;
}
.metismenu li {
  display: block;
  width: 100%;
}
.metismenu .mm-collapse {
  display: none;
}
.metismenu .mm-collapse:not(.mm-show) {
  display: none;
}
.metismenu .mm-collapse.mm-show {
  display: block;
}
.metismenu .mm-collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
}
.vertical-menu {
  width: 240px;
  z-index: 1001;
  background: var(--bs-sidebar-bg);
  bottom: 0;
  margin-top: 0;
  position: fixed;
  top: 70px;
  -webkit-box-shadow: 0 0 13px 0 rgba(236, 236, 241, 0.44);
  box-shadow: 0 0 13px 0 rgba(236, 236, 241, 0.44);
}
.main-content {
  margin-left: 240px;
  overflow: hidden;
}
.main-content .content {
  padding: 0 15px 10px 15px;
  margin-top: 70px;
}
#sidebar-menu {
  padding: 10px 0 30px 0;
}
#sidebar-menu .mm-active > .has-arrow:after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
#sidebar-menu .has-arrow:after {
  content: "\f0140";
  font-family: "Material Design Icons";
  display: block;
  float: right;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  font-size: 1rem;
}
#sidebar-menu ul li a {
  display: block;
  padding: 12px 20px;
  font-family: Sarabun, sans-serif;
  color: var(--bs-sidebar-menu-item-color);
  position: relative;
  font-size: 15.7px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
#sidebar-menu ul li a i {
  display: inline-block;
  min-width: 1.75rem;
  padding-bottom: 0.125em;
  line-height: 1.40625rem;
  vertical-align: middle;
  color: var(--bs-sidebar-menu-item-icon-color);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 14.7px;
}
#sidebar-menu ul li a:hover {
  color: var(--bs-sidebar-menu-item-hover-color);
}
#sidebar-menu ul li a:hover i {
  color: var(--bs-sidebar-menu-item-hover-color);
}
#sidebar-menu ul li .badge {
  margin-top: 4px;
}
#sidebar-menu ul li ul.sub-menu {
  padding: 0;
}
#sidebar-menu ul li ul.sub-menu li a {
  padding: 0.4rem 1.5rem 0.4rem 3.3rem;
  font-size: 15px;
  color: var(--bs-sidebar-menu-sub-item-color);
}
#sidebar-menu ul li ul.sub-menu li ul.sub-menu {
  padding: 0;
}
#sidebar-menu ul li ul.sub-menu li ul.sub-menu li a {
  padding: 0.4rem 1.5rem 0.4rem 4.5rem;
  font-size: 13.5px;
}
.menu-title {
  padding: 12px 20px !important;
  letter-spacing: 0.05em;
  pointer-events: none;
  cursor: default;
  font-size: 10px;
  text-transform: uppercase;
  color: var(--bs-sidebar-menu-item-icon-color) !important;
  font-weight: 500;
}
.mm-active {
  color: var(--bs-sidebar-menu-item-active-color) !important;
}
.mm-active > a {
  color: var(--bs-sidebar-menu-item-active-color) !important;
  background-color: var(--bs-sidebar-menu-item-active-bg);
}
.mm-active > a i {
  color: var(--bs-sidebar-menu-item-active-color) !important;
}
.mm-active .active {
  color: var(--bs-sidebar-menu-item-active-color) !important;
}
.mm-active .active i {
  color: var(--bs-sidebar-menu-item-active-color) !important;
}
.mm-active > i {
  color: var(--bs-sidebar-menu-item-active-color) !important;
}
@media (max-width: 992px) {
  .vertical-menu {
    display: none;
  }
  .main-content {
    margin-left: 0 !important;
  }
  body.sidebar-enable .vertical-menu {
    display: block;
  }
}
.vertical-collpsed .main-content {
  margin-left: 70px;
}
.vertical-collpsed .navbar-brand-box {
  width: 70px !important;
}
.vertical-collpsed .logo span.logo-lg {
  display: none;
}
.vertical-collpsed .logo span.logo-sm {
  display: block;
}
.vertical-collpsed .vertical-menu {
  position: absolute;
  width: 70px !important;
  z-index: 5;
}
.vertical-collpsed .vertical-menu .simplebar-content-wrapper,
.vertical-collpsed .vertical-menu .simplebar-mask {
  overflow: visible !important;
}
.vertical-collpsed .vertical-menu .simplebar-scrollbar {
  display: none !important;
}
.vertical-collpsed .vertical-menu .simplebar-offset {
  bottom: 0 !important;
}
.vertical-collpsed .vertical-menu #sidebar-menu .badge,
.vertical-collpsed .vertical-menu #sidebar-menu .collapse.in,
.vertical-collpsed .vertical-menu #sidebar-menu .menu-title {
  display: none !important;
}
.vertical-collpsed .vertical-menu #sidebar-menu .nav.collapse {
  height: inherit !important;
}
.vertical-collpsed .vertical-menu #sidebar-menu .has-arrow:after {
  display: none;
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li {
  position: relative;
  white-space: nowrap;
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a {
  padding: 15px 20px;
  min-height: 55px;
  -webkit-transition: none;
  transition: none;
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a:active,
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a:focus,
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a:hover {
  color: var(--bs-sidebar-menu-item-hover-color);
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a i {
  font-size: 1.1rem;
  margin-left: 6px;
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a span {
  display: none;
  padding-left: 25px;
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a {
  position: relative;
  width: calc(190px + 70px);
  color: #626ed4;
  background-color: var(--bs-sidebar-bg);
  -webkit-transition: none;
  transition: none;
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a i {
  color: #626ed4;
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a span {
  display: inline;
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul {
  display: block;
  left: 70px;
  position: absolute;
  width: 190px;
  height: auto !important;
  -webkit-box-shadow: 3px 5px 10px 0 rgba(54, 61, 71, 0.1);
  box-shadow: 3px 5px 10px 0 rgba(54, 61, 71, 0.1);
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul ul {
  -webkit-box-shadow: 3px 5px 10px 0 rgba(54, 61, 71, 0.1);
  box-shadow: 3px 5px 10px 0 rgba(54, 61, 71, 0.1);
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul a {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 8px 20px;
  position: relative;
  width: 190px;
  z-index: 6;
  color: var(--bs-sidebar-menu-sub-item-color);
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul a:hover {
  color: var(--bs-sidebar-menu-item-hover-color);
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul ul {
  padding: 5px 0;
  z-index: 9999;
  display: none;
  background-color: var(--bs-sidebar-bg);
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul ul li:hover > ul {
  display: block;
  left: 190px;
  height: auto !important;
  margin-top: -36px;
  position: absolute;
  width: 190px;
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul ul li > a span.pull-right {
  position: absolute;
  right: 20px;
  top: 12px;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul ul li.active a {
  color: #f8f9fa;
}
body[data-sidebar="dark"] .vertical-menu {
  background: var(--bs-sidebar-dark-bg);
  -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
}
body[data-sidebar="dark"] #sidebar-menu ul li a {
  color: var(--bs-sidebar-dark-menu-item-color);
}
body[data-sidebar="dark"] #sidebar-menu ul li a i {
  color: var(--bs-sidebar-dark-menu-item-icon-color);
}
body[data-sidebar="dark"] #sidebar-menu ul li a:hover {
  color: var(--bs-sidebar-dark-menu-item-hover-color);
}
body[data-sidebar="dark"] #sidebar-menu ul li a:hover i {
  color: var(--bs-sidebar-dark-menu-item-hover-color);
}
body[data-sidebar="dark"] #sidebar-menu ul li > .mm-active {
  background-color: var(--bs-sidebar-dark-menu-item-active-bg);
}
body[data-sidebar="dark"] #sidebar-menu ul li ul.sub-menu li a {
  color: var(--bs-sidebar-dark-menu-sub-item-color);
  background: 0 0;
}
body[data-sidebar="dark"] #sidebar-menu ul li ul.sub-menu li a:hover {
  color: var(--bs-sidebar-dark-menu-item-hover-color);
}
body[data-sidebar="dark"] #sidebar-menu ul > li > a.mm-active {
  background-color: var(--bs-sidebar-dark-menu-item-active-bg);
}
body[data-sidebar="dark"].vertical-collpsed {
  min-height: 1200px;
}
body[data-sidebar="dark"].vertical-collpsed
  .vertical-menu
  #sidebar-menu
  > ul
  > li:hover
  > a {
  background-color: var(--bs-sidebar-dark-bg);
  color: var(--bs-sidebar-dark-menu-item-hover-color);
}
body[data-sidebar="dark"].vertical-collpsed
  .vertical-menu
  #sidebar-menu
  > ul
  > li:hover
  > a
  i {
  color: var(--bs-sidebar-dark-menu-item-hover-color);
}
body[data-sidebar="dark"].vertical-collpsed
  .vertical-menu
  #sidebar-menu
  > ul
  > li:hover
  > ul
  a {
  color: var(--bs-sidebar-dark-menu-sub-item-color);
}
body[data-sidebar="dark"].vertical-collpsed
  .vertical-menu
  #sidebar-menu
  > ul
  > li:hover
  > ul
  a:hover {
  color: var(--bs-sidebar-dark-menu-item-hover-color);
}
body[data-sidebar="dark"].vertical-collpsed
  .vertical-menu
  #sidebar-menu
  > ul
  ul {
  background-color: var(--bs-sidebar-dark-bg);
}
body[data-sidebar="dark"].vertical-collpsed
  .vertical-menu
  #sidebar-menu
  ul
  li.mm-active
  .active {
  color: var(--bs-sidebar-dark-menu-item-active-color);
}
body[data-sidebar="dark"].vertical-collpsed
  .vertical-menu
  #sidebar-menu
  ul
  li.mm-active
  .active
  i {
  color: var(--bs-sidebar-dark-menu-item-active-color) !important;
}
body[data-sidebar="dark"] .mm-active {
  color: var(--bs-sidebar-dark-menu-item-active-color) !important;
}
body[data-sidebar="dark"] .mm-active > a {
  color: var(--bs-sidebar-dark-menu-item-active-color) !important;
  background-color: var(--bs-sidebar-dark-menu-item-active-bg);
}
body[data-sidebar="dark"] .mm-active > a i {
  color: var(--bs-sidebar-dark-menu-item-active-color) !important;
}
body[data-sidebar="dark"] .mm-active > i {
  color: var(--bs-sidebar-dark-menu-item-active-color) !important;
}
body[data-sidebar="dark"] .mm-active .active {
  color: var(--bs-sidebar-dark-menu-item-active-color) !important;
  background-color: var(--bs-sidebar-dark-menu-item-active-bg);
}
body[data-sidebar="dark"] .mm-active .active i {
  color: var(--bs-sidebar-dark-menu-item-active-color) !important;
}
body[data-sidebar="dark"] .menu-title {
  color: var(--bs-sidebar-dark-menu-item-icon-color) !important;
}
body[data-layout="horizontal"] .main-content {
  margin-left: 0 !important;
}
body[data-sidebar-size="small"] .navbar-brand-box {
  width: 160px;
}
body[data-sidebar-size="small"] .vertical-menu {
  width: 160px;
  text-align: center;
}
body[data-sidebar-size="small"] .vertical-menu .badge,
body[data-sidebar-size="small"] .vertical-menu .has-arrow:after {
  display: none !important;
}
body[data-sidebar-size="small"] .main-content {
  margin-left: 160px;
}
body[data-sidebar-size="small"] .footer {
  left: 160px;
}
body[data-sidebar-size="small"] #sidebar-menu ul li a i {
  display: block;
}
body[data-sidebar-size="small"] #sidebar-menu ul li ul.sub-menu li a {
  padding-left: 1.5rem !important;
}
body[data-sidebar-size="small"].vertical-collpsed .main-content {
  margin-left: 70px;
}
body[data-sidebar-size="small"].vertical-collpsed .vertical-menu #sidebar-menu {
  text-align: left;
}
body[data-sidebar-size="small"].vertical-collpsed
  .vertical-menu
  #sidebar-menu
  > ul
  > li
  > a
  i {
  display: inline-block;
}
body[data-sidebar-size="small"].vertical-collpsed .footer {
  left: 70px;
}
body[data-sidebar="light"] .vertical-menu {
  background: var(--bs-sidebar-bg);
}
body[data-sidebar="light"] #sidebar-menu ul li a {
  color: var(--bs-sidebar-menu-item-color);
}
body[data-sidebar="light"] #sidebar-menu ul li a i {
  color: var(--bs-sidebar-menu-item-icon-color);
}
body[data-sidebar="light"] #sidebar-menu ul li a:hover {
  color: var(--bs-sidebar-menu-item-hover-color);
}
body[data-sidebar="light"] #sidebar-menu ul li a:hover i {
  color: var(--bs-sidebar-menu-item-hover-color);
}
body[data-sidebar="light"] #sidebar-menu ul li > .mm-active {
  color: var(--bs-sidebar-menu-item-active-color) !important;
}
body[data-sidebar="light"] #sidebar-menu ul li > .mm-active > a {
  color: #fff !important;
  background-color: var(--bs-sidebar-menu-item-active-bg);
}
body[data-sidebar="light"] #sidebar-menu ul li ul.sub-menu li a {
  color: var(--bs-sidebar-menu-sub-item-color);
  background: 0 0;
}
body[data-sidebar="light"] #sidebar-menu ul li ul.sub-menu li a:hover {
  color: var(--bs-sidebar-menu-item-hover-color);
}
body[data-sidebar="light"] #sidebar-menu ul > li > a.mm-active {
  background-color: var(--bs-sidebar-menu-item-active-bg);
}
body[data-sidebar="light"].vertical-collpsed {
  min-height: 1200px;
}
body[data-sidebar="light"].vertical-collpsed
  .vertical-menu
  #sidebar-menu
  > ul
  > li:hover
  > a {
  background-color: var(--bs-sidebar-bg);
  color: var(--bs-sidebar-menu-item-hover-color);
}
body[data-sidebar="light"].vertical-collpsed
  .vertical-menu
  #sidebar-menu
  > ul
  > li:hover
  > a
  i {
  color: var(--bs-sidebar-menu-item-hover-color);
}
body[data-sidebar="light"].vertical-collpsed
  .vertical-menu
  #sidebar-menu
  > ul
  > li:hover
  > ul
  a {
  color: var(--bs-sidebar-menu-sub-item-color);
}
body[data-sidebar="light"].vertical-collpsed
  .vertical-menu
  #sidebar-menu
  > ul
  > li:hover
  > ul
  a:hover {
  color: var(--bs-sidebar-menu-item-hover-color);
}
body[data-sidebar="light"].vertical-collpsed
  .vertical-menu
  #sidebar-menu
  > ul
  ul {
  background-color: var(--bs-sidebar-bg);
}
body[data-sidebar="light"].vertical-collpsed
  .vertical-menu
  #sidebar-menu
  ul
  li.mm-active
  .active {
  color: var(--bs-sidebar-menu-item-active-color);
}
body[data-sidebar="light"].vertical-collpsed
  .vertical-menu
  #sidebar-menu
  ul
  li.mm-active
  .active
  i {
  color: var(--bs-sidebar-menu-item-active-color) !important;
}
body[data-sidebar="light"] .mm-active {
  color: var(--bs-sidebar-menu-item-active-color) !important;
}
body[data-sidebar="light"] .mm-active > i {
  color: var(--bs-sidebar-menu-item-active-color) !important;
}
body[data-sidebar="light"] .mm-active .active {
  color: var(--bs-sidebar-menu-item-active-color) !important;
  background-color: var(--bs-sidebar-menu-item-active-bg);
}
body[data-sidebar="light"] .mm-active .active i {
  color: var(--bs-sidebar-menu-item-active-color) !important;
}
body[data-sidebar="light"] .menu-title {
  color: var(--bs-sidebar-menu-item-icon-color) !important;
}
body[data-sidebar="colored"] .vertical-menu {
  background: var(--bs-sidebar-colored-bg);
}
body[data-sidebar="colored"] #sidebar-menu ul li a {
  color: var(--bs-sidebar-colored-menu-item-color);
}
body[data-sidebar="colored"] #sidebar-menu ul li a i {
  color: var(--bs-sidebar-colored-menu-item-icon-color);
}
body[data-sidebar="colored"] #sidebar-menu ul li a:hover {
  color: var(--bs-sidebar-colored-menu-item-hover-color);
}
body[data-sidebar="colored"] #sidebar-menu ul li a:hover i {
  color: var(--bs-sidebar-colored-menu-item-hover-color);
}
body[data-sidebar="colored"] #sidebar-menu ul li > .mm-active {
  background-color: var(--bs-sidebar-colored-menu-item-active-bg);
}
body[data-sidebar="colored"] #sidebar-menu ul li ul.sub-menu li a {
  color: var(--bs-sidebar-colored-menu-sub-item-color);
  background: 0 0;
}
body[data-sidebar="colored"] #sidebar-menu ul li ul.sub-menu li a:hover {
  color: var(--bs-sidebar-colored-menu-item-hover-color);
}
body[data-sidebar="colored"] #sidebar-menu ul > li > a.mm-active {
  background-color: var(--bs-sidebar-colored-menu-item-active-bg);
}
body[data-sidebar="colored"].vertical-collpsed {
  min-height: 1200px;
}
body[data-sidebar="colored"].vertical-collpsed
  .vertical-menu
  #sidebar-menu
  > ul
  > li:hover
  > a {
  background-color: var(--bs-sidebar-colored-bg);
  color: var(--bs-sidebar-colored-menu-item-hover-color);
}
body[data-sidebar="colored"].vertical-collpsed
  .vertical-menu
  #sidebar-menu
  > ul
  > li:hover
  > a
  i {
  color: var(--bs-sidebar-colored-menu-item-hover-color);
}
body[data-sidebar="colored"].vertical-collpsed
  .vertical-menu
  #sidebar-menu
  > ul
  > li:hover
  > ul
  a {
  color: var(--bs-sidebar-colored-menu-sub-item-color);
}
body[data-sidebar="colored"].vertical-collpsed
  .vertical-menu
  #sidebar-menu
  > ul
  > li:hover
  > ul
  a:hover {
  color: var(--bs-sidebar-colored-menu-item-hover-color);
}
body[data-sidebar="colored"].vertical-collpsed
  .vertical-menu
  #sidebar-menu
  > ul
  ul {
  background-color: var(--bs-sidebar-colored-bg);
}
body[data-sidebar="colored"].vertical-collpsed
  .vertical-menu
  #sidebar-menu
  ul
  li.mm-active
  .active {
  color: var(--bs-sidebar-colored-menu-item-active-color);
}
body[data-sidebar="colored"].vertical-collpsed
  .vertical-menu
  #sidebar-menu
  ul
  li.mm-active
  .active
  i {
  color: var(--bs-sidebar-colored-menu-item-active-color) !important;
}
body[data-sidebar="colored"] .mm-active {
  color: var(--bs-sidebar-colored-menu-item-active-color) !important;
}
body[data-sidebar="colored"] .mm-active > a {
  color: var(--bs-sidebar-colored-menu-item-active-color) !important;
  background-color: var(--bs-sidebar-colored-menu-item-active-bg);
}
body[data-sidebar="colored"] .mm-active > a i {
  color: var(--bs-sidebar-colored-menu-item-active-color) !important;
}
body[data-sidebar="colored"] .mm-active > i {
  color: var(--bs-sidebar-colored-menu-item-active-color) !important;
}
body[data-sidebar="colored"] .mm-active .active {
  color: var(--bs-sidebar-colored-menu-item-active-color) !important;
  background-color: var(--bs-sidebar-colored-menu-item-active-bg);
}
body[data-sidebar="colored"] .mm-active .active i {
  color: var(--bs-sidebar-colored-menu-item-active-color) !important;
}
body[data-sidebar="colored"] .menu-title {
  color: var(--bs-sidebar-colored-menu-item-icon-color) !important;
}
.topnav {
  background: #2a3142;
  padding: 0 calc(1.5rem / 2);
  -webkit-box-shadow: var(--bs-box-shadow-sm);
  box-shadow: var(--bs-box-shadow-sm);
  margin-top: 70px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1001;
}
@media (max-width: 991.98px) {
  .topnav {
    background: var(--bs-secondary-bg);
  }
}
.topnav .topnav-menu {
  margin: 0;
  padding: 0;
}
.topnav .navbar-nav .nav-link {
  font-size: 14.5px;
  position: relative;
  padding: 1rem 1.3rem;
  color: #a1a2ab;
}
.topnav .navbar-nav .nav-link i {
  font-size: 15px;
  display: inline-block;
}
.topnav .navbar-nav .nav-link:focus,
.topnav .navbar-nav .nav-link:hover {
  color: #fff;
  background-color: transparent;
}
@media (max-width: 991.98px) {
  .topnav .navbar-nav .nav-link:focus,
  .topnav .navbar-nav .nav-link:hover {
    color: #626ed4;
  }
}
@media (max-width: 991.98px) {
  .topnav .navbar-nav .nav-link {
    color: #525f80;
  }
}
.topnav .navbar-nav > .dropdown.active > a {
  color: rgba(255, 255, 255, 0.9) !important;
}
@media (max-width: 991.98px) {
  .topnav .navbar-nav > .dropdown.active > a {
    color: #626ed4 !important;
  }
}
.topnav .navbar-nav .dropdown-item {
  color: var(--bs-menu-subitem-color);
}
.topnav .navbar-nav .dropdown-item.active,
.topnav .navbar-nav .dropdown-item:hover {
  color: #626ed4;
  background-color: transparent;
}
.topnav .navbar-nav .nav-item .nav-link.active {
  color: rgba(255, 255, 255, 0.9);
}
@media (max-width: 991.98px) {
  .topnav .navbar-nav .nav-item .nav-link.active {
    color: #626ed4 !important;
  }
}
.topnav .navbar-nav .dropdown.active > a {
  color: var(--bs-sidebar-menu-item-active-color);
  background-color: transparent;
}
body[data-layout="horizontal"][data-topbar="light"]
  .navbar-brand-box
  .logo-dark {
  display: block;
}
body[data-layout="horizontal"][data-topbar="light"]
  .navbar-brand-box
  .logo-light {
  display: none;
}
@media (min-width: 1200px) {
  body[data-layout="horizontal"] .container-fluid,
  body[data-layout="horizontal"] .navbar-header {
    max-width: 85%;
  }
}
@media (min-width: 992px) {
  .topnav .navbar-nav .nav-item:first-of-type .nav-link {
    padding-left: 0;
  }
  .topnav .dropdown-item {
    padding: 0.5rem 1.5rem;
    min-width: 180px;
  }
  .topnav .dropdown.mega-dropdown .mega-dropdown-menu {
    left: 0;
    right: auto;
  }
  .topnav .dropdown .dropdown-menu {
    margin-top: 0;
    border-radius: 0 0 var(--bs-border-radius) var(--bs-border-radius);
  }
  .topnav .dropdown .dropdown-menu .arrow-down::after {
    right: 15px;
    -webkit-transform: rotate(-135deg) translateY(-50%);
    transform: rotate(-135deg) translateY(-50%);
    position: absolute;
  }
  .topnav .dropdown .dropdown-menu .dropdown .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
  }
  .topnav .dropdown:hover > .dropdown-menu {
    display: block;
  }
  .topnav .dropdown:hover > .dropdown-menu > .dropdown:hover > .dropdown-menu {
    display: block;
  }
  .navbar-toggle {
    display: none;
  }
}
.arrow-down {
  display: inline-block;
}
.arrow-down:after {
  border-color: initial;
  border-style: solid;
  border-width: 0 0 1px 1px;
  content: "";
  height: 0.4em;
  display: inline-block;
  right: 5px;
  top: 50%;
  margin-left: 10px;
  -webkit-transform: rotate(-45deg) translateY(-50%);
  transform: rotate(-45deg) translateY(-50%);
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 0.4em;
}
@media (min-width: 992px) {
  body[data-layout="horizontal"] #page-topbar {
    padding: 0 calc(1.5rem / 2);
  }
}
@media (max-width: 1199.98px) {
  .topnav-menu .navbar-nav li:last-of-type .dropdown .dropdown-menu {
    right: 100%;
    left: auto;
  }
}
@media (max-width: 991.98px) {
  .topnav {
    max-height: 360px;
    overflow-y: auto;
    padding: 0;
  }
  .topnav .navbar-nav .nav-link {
    padding: 0.75rem 1.1rem;
  }
  .topnav .dropdown .dropdown-menu {
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 15px;
  }
  .topnav .dropdown .dropdown-menu.mega-dropdown-menu {
    width: auto;
  }
  .topnav .dropdown .dropdown-menu.mega-dropdown-menu .row {
    margin: 0;
  }
  .topnav .dropdown .dropdown-item {
    position: relative;
    background-color: transparent;
  }
  .topnav .dropdown .dropdown-item.active,
  .topnav .dropdown .dropdown-item:active {
    color: #626ed4;
  }
  .topnav .arrow-down::after {
    right: 15px;
    position: absolute;
  }
}
body[data-layout-size="boxed"] {
  background-color: var(--bs-boxed-body-bg);
}
body[data-layout-size="boxed"] #layout-wrapper {
  background-color: var(--bs-body-bg);
  max-width: 1300px;
  margin: 0 auto;
  -webkit-box-shadow: var(--bs-box-shadow-sm);
  box-shadow: var(--bs-box-shadow-sm);
}
body[data-layout-size="boxed"] #page-topbar {
  max-width: 1300px;
  margin: 0 auto;
}
body[data-layout-size="boxed"] .footer {
  margin: 0 auto;
  max-width: calc(1300px - 240px);
}
body[data-layout-size="boxed"].vertical-collpsed .footer {
  max-width: calc(1300px - 70px);
}
body[data-layout="horizontal"][data-layout-size="boxed"] #layout-wrapper,
body[data-layout="horizontal"][data-layout-size="boxed"] #page-topbar,
body[data-layout="horizontal"][data-layout-size="boxed"] .footer {
  max-width: 100%;
}
body[data-layout="horizontal"][data-layout-size="boxed"] #layout-wrapper {
  -webkit-box-shadow: none;
  box-shadow: none;
}
body[data-layout="horizontal"][data-layout-size="boxed"] .container-fluid,
body[data-layout="horizontal"][data-layout-size="boxed"] .navbar-header {
  max-width: 1300px;
}
:root,
[data-bs-theme="light"] {
  --bs-white-text: #fff;
  --bs-secondary: #e9ecef;
  --bs-header-bg: #ececf1;
  --bs-header-item-color: #525f80;
  --bs-header-item-sub-color: var(--bs-secondary-color);
  --bs-topbar-search-bg: #e0e0ea;
  --bs-topbar-user-bg: #f8f9fa;
  --bs-boxed-body-bg: #f8f9fa;
  --bs-topnav-bg: #fff;
  --bs-topnav-item-color: #545b62;
  --bs-topnav-item-color-active: var(--bs-primary);
  --bs-twocolumn-menu-iconview-bg: #fff;
  --bs-twocolumn-menu-bg: #fff;
  --bs-list-group-bg: #fff;
  --bs-rightbar-bg: #fff;
  --bs-footer-bg: #f8f9fa;
  --bs-sidebar-bg: #ffffff;
  --bs-sidebar-menu-item-color: #66676d;
  --bs-sidebar-menu-sub-item-color: #464b50;
  --bs-sidebar-menu-item-icon-color: #464b50;
  --bs-sidebar-menu-item-hover-color: #0b0d0e;
  --bs-sidebar-menu-item-active-color: #626ed4;
  --bs-sidebar-menu-item-active-bg: #f5f5f5;
}
:root [data-sidebar="dark"],
[data-bs-theme="light"] [data-sidebar="dark"] {
  --bs-sidebar-dark-bg: #333547;
  --bs-sidebar-dark-menu-item-color: #8699ad;
  --bs-sidebar-dark-menu-sub-item-color: #8699ad;
  --bs-sidebar-dark-menu-item-icon-color: #8699ad;
  --bs-sidebar-dark-menu-item-hover-color: #b4c9de;
  --bs-sidebar-dark-menu-item-active-color: #b4c9de;
  --bs-sidebar-dark-menu-item-active-bg: #383b4e;
}
:root [data-sidebar="colored"],
[data-bs-theme="light"] [data-sidebar="colored"] {
  --bs-sidebar-colored-bg: #626ed4;
  --bs-sidebar-colored-menu-item-color: #ffffffb3;
  --bs-sidebar-colored-menu-sub-item-color: #ffffffb3;
  --bs-sidebar-colored-menu-item-icon-color: #ffffffb3;
  --bs-sidebar-colored-menu-item-hover-color: #fff;
  --bs-sidebar-colored-menu-item-active-color: #fff;
  --bs-sidebar-colored-menu-item-active-bg: #6b77dd;
}
[data-topbar="dark"] {
  --bs-header-bg: #2a3042;
  --bs-header-item-color: #f8f9fa;
  --bs-header-item-sub-color: #8795ab;
  --bs-topnav-bg: #222736;
  --bs-topbar-search-bg: #353e53;
}
[data-bs-theme="dark"] {
  --bs-light: #343b51;
  --bs-light-rgb: 52, 59, 81;
  --bs-dark: #343b51;
  --bs-dark-rgb: 52, 59, 81;
  --bs-footer-bg: #36394c;
  --bs-topbar-search-bg: #353e53;
  --bs-boxed-body-bg: #222736;
  --bs-rightbar-bg: #2a3042;
  --bs-header-item-color: #f8f9fa;
  --bs-header-item-color-dark: #dee2e6;
  --bs-header-bg: #36394c;
}
[data-bs-theme="dark"] .table-light {
  --bs-table-bg: var(--bs-tertiary-bg);
  --bs-table-color: white;
  --bs-table-border-color: var(--bs-border-color);
  --bs-table-striped-bg: var(--bs-tertiary-bg);
  --bs-table-striped-color: white;
  --bs-table-active-bg: var(--bs-tertiary-bg);
  --bs-table-active-color: white;
  --bs-table-hover-bg: var(--bs-tertiary-bg);
  --bs-table-hover-color: white;
}
[data-bs-theme="dark"][data-sidebar="dark"] {
  --bs-sidebar-dark-bg: #333547;
  --bs-sidebar-dark-menu-item-color: #8699ad;
  --bs-sidebar-dark-menu-sub-item-color: #8699ad;
  --bs-sidebar-dark-menu-item-icon-color: #8699ad;
  --bs-sidebar-dark-menu-item-hover-color: #b4c9de;
  --bs-sidebar-dark-menu-item-active-color: #b4c9de;
  --bs-sidebar-dark-menu-item-active-bg: #383b4e;
} /*!
 * Waves v0.7.6
 * http://fian.my.id/Waves 
 * 
 * Copyright 2014-2018 Alfiana E. Sibuea and other contributors 
 * Released under the MIT license 
 * https://github.com/fians/Waves/blob/master/LICENSE */
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  background: radial-gradient(
    rgba(0, 0, 0, 0.2) 0,
    rgba(0, 0, 0, 0.3) 40%,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0.5) 60%,
    rgba(255, 255, 255, 0) 70%
  );
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0) translate(0, 0);
  transform: scale(0) translate(0, 0);
  pointer-events: none;
}
.waves-effect.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
  background: radial-gradient(
    rgba(255, 255, 255, 0.2) 0,
    rgba(255, 255, 255, 0.3) 40%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0) 70%
  );
}
.waves-effect.waves-classic .waves-ripple {
  background: rgba(0, 0, 0, 0.2);
}
.waves-effect.waves-classic.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
}
.waves-notransition {
  -webkit-transition: none !important;
  transition: none !important;
}
.waves-button,
.waves-circle {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, #fff 100%, #000 100%);
}
.waves-button,
.waves-button-input,
.waves-button:hover,
.waves-button:visited {
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  outline: 0;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  z-index: 1;
}
.waves-button {
  padding: 0.85em 1.1em;
  border-radius: 0.2em;
}
.waves-button-input {
  margin: 0;
  padding: 0.85em 1.1em;
}
.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom;
}
.waves-input-wrapper.waves-button {
  padding: 0;
}
.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
}
.waves-float {
  -webkit-mask-image: none;
  -webkit-box-shadow: 0 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.waves-float:active {
  -webkit-box-shadow: 0 8px 20px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 20px 1px rgba(0, 0, 0, 0.3);
}
.waves-block {
  display: block;
}
.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.4);
}
.waves-effect.waves-primary .waves-ripple {
  background-color: rgba(98, 110, 212, 0.4);
}
.waves-effect.waves-success .waves-ripple {
  background-color: rgba(2, 164, 153, 0.4);
}
.waves-effect.waves-info .waves-ripple {
  background-color: rgba(56, 164, 248, 0.4);
}
.waves-effect.waves-warning .waves-ripple {
  background-color: rgba(248, 180, 37, 0.4);
}
.waves-effect.waves-danger .waves-ripple {
  background-color: rgba(236, 69, 97, 0.4);
}
.avatar-xs {
  height: 2.3rem;
  width: 2.3rem;
}
.avatar-sm {
  height: 3rem;
  width: 3rem;
}
.avatar-md {
  height: 4.5rem;
  width: 4.5rem;
}
.avatar-lg {
  height: 5.5rem;
  width: 5.5rem;
}
.avatar-xl {
  height: 7.5rem;
  width: 7.5rem;
}
.avatar-title {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #626ed4;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}
.alert-dismissible .btn-close {
  font-size: 10px;
  padding: 1.125rem 1.25rem;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.font-size-11 {
  font-size: 11px !important;
}
.font-size-12 {
  font-size: 12px !important;
}
.font-size-13 {
  font-size: 13px !important;
}
.font-size-14 {
  font-size: 14px !important;
}
.font-size-15 {
  font-size: 15px !important;
}
.font-size-16 {
  font-size: 16px !important;
}
.font-size-17 {
  font-size: 17px !important;
}
.font-size-18 {
  font-size: 18px !important;
}
.font-size-20 {
  font-size: 20px !important;
}
.font-size-22 {
  font-size: 22px !important;
}
.font-size-24 {
  font-size: 24px !important;
}
.fw-medium {
  font-weight: 500 !important;
}
.fw-semibold {
  font-weight: 600 !important;
}
.social-list-item {
  height: 2rem;
  width: 2rem;
  line-height: calc(2rem - 2px);
  display: block;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  color: #adb5bd;
  text-align: center;
}
.w-xs {
  min-width: 80px;
}
.w-sm {
  min-width: 95px;
}
.w-md {
  min-width: 110px;
}
.w-lg {
  min-width: 140px;
}
.w-xl {
  min-width: 160px;
}
.mini-stat .mini-stat-img {
  width: 58px;
  height: 58px;
  line-height: 58px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  text-align: center;
}
.mini-stat .mini-stat-img img {
  max-width: 32px;
}
.mini-stat .mini-stat-label {
  position: absolute;
  right: 0;
  top: 18px;
  padding: 2px 10px 2px 32px;
  -webkit-clip-path: polygon(
    100% 0,
    100% 50%,
    100% 100%,
    0 100%,
    24% 50%,
    6% 0
  );
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0 100%, 24% 50%, 6% 0);
  color: #fff;
}
[dir="rtl"] .mini-stat-label {
  -webkit-clip-path: polygon(0 0, 94% 0, 76% 50%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 94% 0, 76% 50%, 100% 100%, 0 100%);
}
.activity-feed {
  padding: 15px 15px 0 15px;
  list-style: none;
}
.activity-feed .feed-item {
  position: relative;
  padding-bottom: 29px;
  padding-left: 30px;
  border-left: 2px solid var(--bs-light);
}
.activity-feed .feed-item:last-child {
  border-color: transparent;
}
.activity-feed .feed-item::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -9px;
  width: 16px;
  height: 16px;
  border-radius: 30px;
  background: #02a499;
}
.activity-feed .feed-item .date {
  display: block;
  position: relative;
  top: -5px;
  text-transform: uppercase;
  font-size: 13px;
}
.activity-feed .feed-item .activity-text {
  position: relative;
  top: -3px;
}
.ct-chart.wid {
  height: 240px;
}
.ct-chart.wid .ct-slice-donut {
  stroke-width: 14px !important;
}
.wid-peity {
  border-bottom: 1px solid var(--bs-border-color);
}
.conversation-list {
  list-style: none;
  padding: 0 10px;
  max-height: 350px;
}
.conversation-list li {
  margin-bottom: 24px;
}
.conversation-list .chat-avatar {
  width: 40px;
  display: inline-block;
  text-align: center;
  float: left;
}
.conversation-list .chat-avatar .time {
  font-size: 12px;
  font-style: normal;
}
.conversation-list .ctext-wrap .user-name {
  display: block;
  font-weight: 600;
  position: relative;
  font-size: 12px;
  color: #626ed4;
}
.conversation-list .ctext-wrap p {
  color: #2f3cab;
}
.conversation-list .conversation-text {
  display: inline-block;
  font-size: 12px;
  float: left;
  margin-left: 12px;
  width: 70%;
}
.conversation-list .ctext-wrap {
  padding: 10px 18px;
  background: var(--bs-tertiary-bg);
  border-radius: 0 7px 7px 7px;
  position: relative;
  display: inline-block;
}
.conversation-list .ctext-wrap:after {
  content: " ";
  position: absolute;
  right: 100%;
  top: 0;
  border: solid transparent;
  border-right-color: var(--bs-tertiary-bg);
  border-top-color: var(--bs-tertiary-bg);
  border-width: 5px;
}
.conversation-list .ctext-wrap p {
  margin: 0;
  padding-top: 3px;
}
.conversation-list .odd .chat-avatar {
  float: right !important;
}
.conversation-list .odd .conversation-text {
  width: 70% !important;
  margin-right: 12px;
  text-align: right;
  float: right !important;
}
.conversation-list .odd .ctext-wrap {
  background: var(--bs-tertiary-bg) !important;
  border-radius: 7px 0 7px 7px;
}
.conversation-list .odd .ctext-wrap p {
  color: var(--bs-body-color);
}
.conversation-list .odd .ctext-wrap:after {
  left: 100% !important;
  top: 0 !important;
  border-color: rgba(238, 238, 242, 0) !important;
  border-left-color: var(--bs-tertiary-bg) !important;
  border-top-color: var(--bs-tertiary-bg) !important;
}
.button-items {
  margin-left: -8px;
  margin-bottom: -12px;
}
.button-items .btn {
  margin-bottom: 12px;
  margin-left: 8px;
}
.mfp-popup-form {
  max-width: 1140px;
}
.bs-example-modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block;
}
.icon-demo-content {
  text-align: center;
  color: #adb5bd;
}
.icon-demo-content i {
  display: block;
  font-size: 24px;
  margin-bottom: 16px;
  color: var(--bs-secondary-color);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.icon-demo-content .col-lg-4 {
  margin-top: 24px;
}
.icon-demo-content .col-lg-4:hover i {
  color: #626ed4;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.grid-structure .grid-container {
  background-color: #f8f9fa;
  margin-top: 10px;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 10px 20px;
}
@media print {
  .footer,
  .navbar-header,
  .page-title-box,
  .right-bar,
  .vertical-menu {
    display: none !important;
  }
  .card-body,
  .main-content,
  .page-content,
  .right-bar,
  body {
    padding: 0;
    margin: 0;
  }
  .card {
    border: 0;
  }
}
.bootstrap-touchspin.input-group > .input-group-prepend > .btn,
.bootstrap-touchspin.input-group > .input-group-prepend > .input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.bootstrap-touchspin.input-group > .input-group-append > .btn,
.bootstrap-touchspin.input-group > .input-group-append > .input-group-text {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
[data-simplebar] {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}
.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}
.simplebar-offset {
  direction: inherit !important;
  -webkit-box-sizing: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0 !important;
  bottom: 0;
  right: 0 !important;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}
.simplebar-content-wrapper {
  direction: inherit;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  width: auto;
  visibility: visible;
  overflow: auto;
  max-width: 100%;
  max-height: 100%;
  scrollbar-width: none;
  padding: 0 !important;
}
.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.simplebar-content:after,
.simplebar-content:before {
  content: " ";
  display: table;
}
.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}
.simplebar-height-auto-observer-wrapper {
  -webkit-box-sizing: inherit !important;
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  -webkit-box-flex: inherit;
  -ms-flex-positive: inherit;
  flex-grow: inherit;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
}
.simplebar-height-auto-observer {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}
.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}
[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}
[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}
.simplebar-scrollbar {
  position: absolute;
  right: 2px;
  width: 4px;
  min-height: 10px;
}
.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: #a2adb7;
  border-radius: 7px;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.simplebar-scrollbar.simplebar-visible:before {
  opacity: 0.5;
  -webkit-transition: opacity 0s linear;
  transition: opacity 0s linear;
}
.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
}
.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px;
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}
[data-simplebar-direction="rtl"] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}
.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}
.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}
.custom-scroll {
  height: 100%;
}
.fc .fc-toolbar h2 {
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  .fc .fc-toolbar .fc-center,
  .fc .fc-toolbar .fc-left,
  .fc .fc-toolbar .fc-right {
    float: none;
    display: block;
    text-align: center;
    clear: both;
    margin: 10px 0;
  }
  .fc .fc-toolbar > * > * {
    float: none;
  }
  .fc .fc-toolbar .fc-today-button {
    display: none;
  }
}
.fc .fc-toolbar .btn {
  text-transform: capitalize;
}
.fc th.fc-widget-header {
  background: #dee2e6;
  color: #343b51;
  line-height: 20px;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: 700;
}
.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
  border-color: #dee2e6;
}
.fc-unthemed td.fc-today {
  background: #eff1f3;
}
.fc-button {
  background: var(--bs-secondary-bg);
  border-color: #e9ecef;
  color: #343b51;
  text-transform: capitalize;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 6px 12px !important;
  height: auto !important;
}
.fc-state-active,
.fc-state-disabled,
.fc-state-down {
  background-color: #626ed4;
  color: #fff;
  text-shadow: none;
}
.fc-event {
  border-radius: 2px;
  border: none;
  cursor: move;
  font-size: 0.8125rem;
  margin: 5px 7px;
  padding: 5px 5px;
  text-align: center;
}
.fc-event,
.fc-event-dot {
  background-color: #626ed4;
}
.fc-event .fc-content {
  color: #fff;
}
.fc-day-header {
  font-weight: 500;
}
.fc-day-grid-event .fc-time {
  font-weight: 500;
}
.fc-day-grid-event.bg-dark {
  background-color: #000 !important;
}
#external-events .external-event {
  text-align: left !important;
  padding: 8px 16px;
}
.fc .fc-button-primary {
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.fc-daygrid-event-dot {
  display: none !important;
}
.fc-event {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.fc-event.fc-event-draggable {
  text-align: center;
  color: #fff !important;
}
.fc-event .fc-event-title {
  -webkit-box-flex: 0 !important;
  -ms-flex-positive: 0 !important;
  flex-grow: 0 !important;
  font-weight: 400 !important;
}
.fc .fc-daygrid-day.fc-day-today {
  background-color: #d7edfe !important;
}
.fc-scrollgrid {
  border-color: var(--bs-border-color) !important;
}
.fc-theme-standard td,
.fc-theme-standard th {
  border-color: var(--bs-border-color) !important;
}
.fc .fc-list-sticky .fc-list-day > * {
  background-color: var(--bs-secondary-bg) !important;
}
.fc-theme-standard .fc-list {
  border-color: var(--bs-border-color) !important;
}
[dir="rtl"] .fc-header-toolbar {
  direction: ltr !important;
}
[dir="rtl"] .fc-toolbar > * > :not(:first-child) {
  margin-left: 0.75em;
}
#session-timeout-dialog .close {
  display: none;
}
#session-timeout-dialog .countdown-holder {
  color: #ec4561;
  font-weight: 500;
}
#session-timeout-dialog .btn-default {
  background-color: #fff;
  color: #ec4561;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.irs--modern .irs-bar,
.irs--modern .irs-from,
.irs--modern .irs-single,
.irs--modern .irs-to {
  background: #626ed4 !important;
  font-size: 11px;
}
.irs--modern .irs-from:before,
.irs--modern .irs-single:before,
.irs--modern .irs-to:before {
  border-top-color: #626ed4;
}
.irs--modern .irs-line {
  background: var(--bs-light);
  border-color: var(--bs-light);
}
.irs--modern .irs-grid-text {
  font-size: 11px;
  color: #ced4da;
}
.irs--modern .irs-max,
.irs--modern .irs-min {
  color: #adb5bd;
  background: var(--bs-light);
  font-size: 11px;
}
.irs--modern .irs-handle {
  width: 12px;
  height: 12px;
  top: 37px;
  background-color: var(--bs-secondary-bg) !important;
}
.irs--modern .irs-handle > i:nth-child(1) {
  width: 8px;
  height: 8px;
}
.swal2-container .swal2-title {
  font-size: 24px;
  font-weight: 500;
  color: var(--bs-body-color);
}
.swal2-icon.swal2-question {
  border-color: #38a4f8;
  color: #38a4f8;
}
.swal2-icon.swal2-success [class^="swal2-success-line"] {
  background-color: #02a499;
}
.swal2-icon.swal2-success .swal2-success-ring {
  border-color: rgba(2, 164, 153, 0.3);
}
.swal2-icon.swal2-warning {
  border-color: #f8b425;
  color: #f8b425;
}
.swal2-styled:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.swal2-progress-steps .swal2-progress-step {
  background: #626ed4;
}
.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step {
  background: #626ed4;
}
.swal2-progress-steps
  .swal2-progress-step.swal2-active-progress-step
  ~ .swal2-progress-step,
.swal2-progress-steps
  .swal2-progress-step.swal2-active-progress-step
  ~ .swal2-progress-step-line {
  background: rgba(98, 110, 212, 0.3);
}
.swal2-progress-steps .swal2-progress-step-line {
  background: #626ed4;
}
.swal2-loader {
  border-color: #626ed4 transparent #626ed4 transparent;
}
.swal2-popup {
  background-color: var(--bs-secondary-bg);
}
.swal2-popup .swal2-content {
  color: var(--bs-body-color);
}
.swal2-html-container {
  color: var(--bs-body-color) !important;
}
.symbol {
  border-color: var(--bs-secondary-bg);
}
.rating-symbol-background,
.rating-symbol-foreground {
  font-size: 24px;
}
.rating-symbol-foreground {
  top: 0;
}
.rating-star > span {
  display: inline-block;
  vertical-align: middle;
}
.rating-star > span.badge {
  margin-left: 4px;
}
.error {
  color: #ec4561;
}
.parsley-error {
  border-color: #ec4561;
}
.parsley-errors-list {
  display: none;
  margin: 0;
  padding: 0;
}
.parsley-errors-list.filled {
  display: block;
}
.parsley-errors-list > li {
  font-size: 12px;
  list-style: none;
  color: #ec4561;
  margin-top: 5px;
}
.sp-container {
  background-color: var(--bs-secondary-bg);
}
.sp-container button {
  padding: 0.25rem 0.5rem;
  font-size: 0.71094rem;
  border-radius: 0.2rem;
  font-weight: 400;
  color: #2a3042;
}
.sp-container button.sp-palette-toggle {
  background-color: #dee2e6;
}
.sp-container button.sp-choose {
  background-color: #02a499;
  margin-left: 5px;
  margin-right: 0;
}
.sp-palette-container {
  border-right: 1px solid #e9ecef;
}
.sp-input {
  background-color: var(--bs-secondary-bg);
  border-color: var(--bs-border-color) !important;
  color: var(--bs-body-color);
}
.sp-input:focus {
  outline: 0;
}
.sp-colorize-container {
  border-width: 0 !important;
}
[dir="rtl"] .sp-alpha {
  direction: rtl;
}
[dir="rtl"] .sp-original-input-container .sp-add-on {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}
[dir="rtl"] input.spectrum.with-add-on {
  border: 1px solid var(--bs-border-color);
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: var(--bs-border-radius);
  border-bottom-right-radius: var(--bs-border-radius);
}
.select2-container .select2-selection--single {
  background-color: var(--bs-secondary-bg);
  border: 1px solid var(--bs-border-color);
  height: 38px;
}
.select2-container .select2-selection--single:focus {
  outline: 0;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 36px;
  padding-left: 12px;
  color: var(--bs-body-color);
}
.select2-container .select2-selection--single .select2-selection__arrow {
  height: 34px;
  width: 34px;
  right: 3px;
}
.select2-container .select2-selection--single .select2-selection__arrow b {
  border-color: #adb5bd transparent transparent transparent;
  border-width: 6px 6px 0 6px;
}
.select2-container--open
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-color: transparent transparent #adb5bd transparent !important;
  border-width: 0 6px 6px 6px !important;
}
.select2-container--default .select2-search--dropdown {
  padding: 10px;
  background-color: var(--bs-secondary-bg);
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid var(--bs-border-color);
  background-color: var(--bs-secondary-bg);
  color: #6c757d;
  outline: 0;
}
.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  background-color: #626ed4;
}
.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: var(--bs-tertiary-bg);
  color: var(--bs-secondary-color);
}
.select2-container--default
  .select2-results__option[aria-selected="true"]:hover {
  background-color: #626ed4;
  color: #fff;
}
.select2-results__option {
  padding: 6px 12px;
}
.select2-dropdown {
  border: var(--bs-border-color);
  background-color: var(--bs-secondary-bg);
  -webkit-box-shadow: var(--bs-box-shadow-sm);
  box-shadow: var(--bs-box-shadow-sm);
}
.select2-search input {
  border: 1px solid var(--bs-border-color);
}
.select2-container .select2-selection--multiple {
  min-height: 38px;
  background-color: var(--bs-secondary-bg);
  border: 1px solid var(--bs-border-color) !important;
}
.select2-container .select2-selection--multiple .select2-selection__rendered {
  padding: 2px 10px;
}
.select2-container .select2-selection--multiple .select2-search__field {
  border: 0;
  color: var(--bs-body-color);
}
.select2-container
  .select2-selection--multiple
  .select2-search__field::-webkit-input-placeholder {
  color: var(--bs-body-color);
}
.select2-container
  .select2-selection--multiple
  .select2-search__field::-moz-placeholder {
  color: var(--bs-body-color);
}
.select2-container
  .select2-selection--multiple
  .select2-search__field:-ms-input-placeholder {
  color: var(--bs-body-color);
}
.select2-container
  .select2-selection--multiple
  .select2-search__field::-ms-input-placeholder {
  color: var(--bs-body-color);
}
.select2-container
  .select2-selection--multiple
  .select2-search__field::placeholder {
  color: var(--bs-body-color);
}
.select2-container .select2-selection--multiple .select2-selection__choice {
  background-color: var(--bs-tertiary-bg);
  border: 1px solid var(--bs-border-color);
  border-radius: 1px;
  padding: 0 7px;
}
.select2-container--default.select2-container--focus
  .select2-selection--multiple {
  border-color: var(--bs-border-color);
}
input[switch] {
  display: none;
}
input[switch] + label {
  font-size: 1em;
  line-height: 1;
  width: 56px;
  height: 24px;
  background-color: #ced4da;
  background-image: none;
  border-radius: 2rem;
  padding: 0.16667rem;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  position: relative;
  font-weight: 500;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
input[switch] + label:before {
  color: #2a3042;
  content: attr(data-off-label);
  display: block;
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  position: absolute;
  right: 1px;
  margin: 3px;
  top: -2px;
  text-align: center;
  min-width: 1.66667rem;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
input[switch] + label:after {
  content: "";
  position: absolute;
  left: 3px;
  background-color: #e9ecef;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 2rem;
  height: 20px;
  width: 20px;
  top: 2px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
input[switch]:checked + label {
  background-color: #626ed4;
}
input[switch]:checked + label {
  background-color: #626ed4;
}
input[switch]:checked + label:before {
  color: #fff;
  content: attr(data-on-label);
  right: auto;
  left: 3px;
}
input[switch]:checked + label:after {
  left: 33px;
  background-color: #e9ecef;
}
input[switch="bool"] + label {
  background-color: #ec4561;
}
input[switch="bool"] + label:before,
input[switch="bool"]:checked + label:before,
input[switch="default"]:checked + label:before {
  color: #fff;
}
input[switch="bool"]:checked + label {
  background-color: #02a499;
}
input[switch="default"]:checked + label {
  background-color: #a2a2a2;
}
input[switch="primary"]:checked + label {
  background-color: #626ed4;
}
input[switch="success"]:checked + label {
  background-color: #02a499;
}
input[switch="info"]:checked + label {
  background-color: #38a4f8;
}
input[switch="warning"]:checked + label {
  background-color: #f8b425;
}
input[switch="danger"]:checked + label {
  background-color: #ec4561;
}
input[switch="dark"]:checked + label {
  background-color: #2a3042;
}
.square-switch {
  margin-right: 7px;
}
.square-switch input[switch] + label,
.square-switch input[switch] + label:after {
  border-radius: 0;
}
.datepicker {
  border: 1px solid #f8f9fa;
  padding: 8px;
  z-index: 999 !important;
}
.datepicker table tr th {
  font-weight: 500;
}
.datepicker table tr td .active.disabled,
.datepicker table tr td.active,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover,
.datepicker table tr td.selected,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected.disabled:hover,
.datepicker table tr td.selected:hover,
.datepicker table tr td.today,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today:hover {
  background-color: #626ed4 !important;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff !important;
}
.datepicker table tr td span.focused,
.datepicker table tr td span:hover,
.datepicker table tr td.day.focused,
.datepicker table tr td.day:hover {
  background: #e9ecef;
}
.datepicker table tr td span.new,
.datepicker table tr td span.old,
.datepicker table tr td.new,
.datepicker table tr td.old {
  color: #adb5bd;
  opacity: 0.6;
}
.datepicker table tr td.range,
.datepicker table tr td.range.disabled,
.datepicker table tr td.range.disabled:hover,
.datepicker table tr td.range:hover {
  background-color: #dee2e6;
}
.table-condensed > tbody > tr > td,
.table-condensed > thead > tr > th {
  padding: 7px;
}
div.dataTables_wrapper div.dataTables_filter {
  text-align: right;
}
@media (max-width: 767px) {
  div.dataTables_wrapper div.dataTables_filter {
    text-align: center;
  }
}
div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em;
  margin-right: 0;
}
.datatable td:focus {
  outline: 0;
}
div.table-responsive
  > div.dataTables_wrapper
  > div.row
  > div[class^="col-"]:first-child {
  padding-left: 0;
}
div.table-responsive
  > div.dataTables_wrapper
  > div.row
  > div[class^="col-"]:last-child {
  padding-right: 0;
}
.table.dataTable thead .sorting:before,
.table.dataTable thead .sorting_asc:before,
.table.dataTable thead .sorting_asc_disabled:before,
.table.dataTable thead .sorting_desc:before,
.table.dataTable thead .sorting_desc_disabled:before {
  left: auto;
  right: 1em;
}
.table.dataTable thead .sorting:after,
.table.dataTable thead .sorting_asc:after,
.table.dataTable thead .sorting_asc_disabled:after,
.table.dataTable thead .sorting_desc:after,
.table.dataTable thead .sorting_desc_disabled:after {
  left: auto;
  right: 0.5em;
}
.table.dataTable thead tr td.sorting,
.table.dataTable thead tr td.sorting_asc,
.table.dataTable thead tr td.sorting_desc,
.table.dataTable thead tr th.sorting,
.table.dataTable thead tr th.sorting_asc,
.table.dataTable thead tr th.sorting_desc {
  padding-left: 12px;
  padding-right: 30px;
}
.table.dataTable.dtr-inline.collapsed > tbody > tr > td,
table.dataTable.dtr-inline.collapsed > tbody > tr > td {
  position: relative;
}
.table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control,
table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control {
  padding-left: 30px;
}
.table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:before {
  top: 50%;
  left: 5px;
  height: 14px;
  width: 14px;
  margin-top: -9px;
  display: block;
  position: absolute;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 14px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  text-align: center;
  text-indent: 0 !important;
  line-height: 14px;
  content: "+";
  background-color: #626ed4;
}
.table-edits input,
.table-edits select {
  height: calc(1.5em + 0.5rem + calc(var(--bs-border-width) * 2));
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--bs-border-color);
  background-color: var(--bs-secondary-bg);
  color: var(--bs-body-color);
  border-radius: var(--bs-border-radius);
}
.table-edits input:focus,
.table-edits select:focus {
  outline: 0;
  border-color: #b1b7ea;
}
.tox-tinymce {
  border: 1px solid var(--bs-border-color) !important;
}
.tox .tox-menu {
  background-color: var(--bs-white) !important;
  border-color: var(--bs-border-color) !important;
}
.tox .tox-dialog {
  background-color: var(--bs-white) !important;
}
.tox .tox-dialog .tox-dialog__footer,
.tox .tox-dialog .tox-dialog__header,
.tox .tox-dialog .tox-listbox--select,
.tox .tox-dialog .tox-textfield {
  background-color: var(--bs-white) !important;
  color: var(--bs-body-color) !important;
  border-color: var(--bs-border-color-translucent) !important;
}
.tox .tox-dialog .tox-label {
  color: var(--bs-body-color) !important;
}
.tox .tox-dialog .tox-button--naked {
  color: var(--bs-body-color) !important;
  background-color: var(--bs-secondary-bg) !important;
  border-color: var(--bs-border-color-translucent) !important;
}
.tox .tox-statusbar {
  border-top: 1px solid var(--bs-border-color) !important;
}
.tox .tox-edit-area__iframe,
.tox .tox-menubar,
.tox .tox-statusbar {
  background-color: var(--bs-secondary-bg) !important;
  background: 0 0 !important;
}
.tox .tox-mbtn {
  color: var(--bs-body-color) !important;
}
.tox .tox-mbtn:hover:not(:disabled):not(.tox-mbtn--active) {
  background-color: var(--bs-secondary-bg) !important;
}
.tox .tox-tbtn:active,
.tox .tox-tbtn:focus,
.tox .tox-tbtn:hover {
  background-color: var(--bs-tertiary-bg) !important;
}
.tox .tox-toolbar,
.tox .tox-toolbar__overflow,
.tox .tox-toolbar__primary {
  background: var(--bs-tertiary-bg) !important;
}
.tox .tox-tbtn {
  color: var(--bs-body-color) !important;
}
.tox .tox-tbtn svg {
  fill: var(--bs-body-color) !important;
}
.tox .tox-split-button:hover {
  -webkit-box-shadow: 0 0 0 var(--bs-gray-200) !important;
  box-shadow: 0 0 0 var(--bs-gray-200) !important;
}
.tox .tox-split-button:focus {
  background-color: var(--bs-gray-200) !important;
}
.tox .tox-edit-area__iframe {
  background-color: var(--bs-secondary-bg) !important;
}
.tox .tox-statusbar a,
.tox .tox-statusbar__path-item,
.tox .tox-statusbar__wordcount {
  color: #343b51 !important;
}
.tox:not([dir="rtl"]) .tox-toolbar__group:not(:last-of-type) {
  border-right: 1px solid var(--bs-border-color) !important;
}
.tox .tox-toolbar-overlord .tox-toolbar__primary {
  border-color: var(--bs-border-color) !important;
  border-bottom: 1px solid var(--bs-border-color) !important;
}
.tox .tox-collection--toolbar .tox-collection__item {
  color: var(--bs-gray-500) !important;
}
.tox .tox-tbtn--enabled {
  background-color: var(--bs-secondary-bg) !important;
}
.tox .tox-collection__item--enabled {
  background-color: var(--bs-secondary-bg) !important;
}
.tox .tox-collection__item--active {
  background-color: var(--bs-secondary-bg) !important;
}
.tox .tox-collection__group-heading {
  background-color: var(--bs-tertiary-bg) !important;
}
.tox .tox-collection__item {
  color: var(--bs-body-color) !important;
}
.tox .tox-collection--list .tox-collection__item--active {
  background-color: var(--bs-secondary-bg) !important;
}
.tox .tox-collection__group {
  border-color: var(--bs-border-color) !important;
}
.tox .tox-split-button:active,
.tox .tox-split-button:focus {
  background: var(--bs-secondary-bg) !important;
}
.tox-tinymce-aux {
  z-index: 1000 !important;
}
.tox .tox-menu {
  background-color: var(--bs-secondary-bg) !important;
}
.tox .tox-mbtn--active {
  background-color: var(--bs-tertiary-bg) !important;
}
.dropzone {
  min-height: 230px;
  border: 2px dashed var(--bs-border-color);
  background: var(--bs-secondary-bg);
  border-radius: 6px;
}
.dropzone .dz-message {
  font-size: 24px;
}
.form-wizard-wrapper label {
  font-size: 14px;
  text-align: right;
}
.wizard ul {
  list-style: none !important;
  padding: 0;
  margin: 0;
}
.wizard > .steps > ul > li {
  width: 25%;
}
.wizard > .steps .current-info {
  position: absolute;
  left: -999em;
}
.wizard > .steps a,
.wizard > .steps a:active,
.wizard > .steps a:hover {
  margin: 3px;
  padding: 15px;
  display: block;
  width: auto;
  border-radius: 5px;
}
.wizard > .steps .current a,
.wizard > .steps .current a:active,
.wizard > .steps .current a:hover {
  background-color: #626ed4;
  color: #fff;
}
.wizard > .steps .current a .number,
.wizard > .steps .current a:active .number,
.wizard > .steps .current a:hover .number {
  border: 2px solid #fff;
}
.wizard > .steps .disabled a,
.wizard > .steps .disabled a:active,
.wizard > .steps .disabled a:hover,
.wizard > .steps .done a,
.wizard > .steps .done a:active,
.wizard > .steps .done a:hover {
  background-color: #daddf5;
  color: #626ed4;
}
.wizard > .steps .disabled a .number,
.wizard > .steps .disabled a:active .number,
.wizard > .steps .disabled a:hover .number,
.wizard > .steps .done a .number,
.wizard > .steps .done a:active .number,
.wizard > .steps .done a:hover .number {
  border-color: #626ed4;
}
.wizard > .steps .number {
  font-size: 16px;
  padding: 5px;
  border-radius: 50%;
  border: 2px solid #fff;
  width: 38px;
  display: inline-block;
  font-weight: 500;
  text-align: center;
  margin-right: 10px;
  background-color: rgba(98, 110, 212, 0.25);
}
.wizard > .content {
  background-color: transparent;
  margin: 0 5px;
  border-radius: 0;
  min-height: 150px;
}
.wizard > .content > .title {
  position: absolute;
  left: -999em;
}
.wizard > .content > .body {
  width: 100%;
  height: 100%;
  padding: 30px 0 0;
  position: static;
}
.wizard > .actions {
  position: relative;
  display: block;
  text-align: right;
  width: 100%;
}
.wizard > .actions > ul {
  display: inline-block;
  text-align: right;
}
.wizard > .actions > ul > li {
  display: block;
  margin: 0 0.5em;
}
.wizard > .actions a,
.wizard > .actions a:active,
.wizard > .actions a:hover {
  background-color: #626ed4;
  border-radius: 4px;
  padding: 8px 15px;
  color: #fff;
}
.wizard > .actions .disabled a,
.wizard > .actions .disabled a:active,
.wizard > .actions .disabled a:hover {
  opacity: 0.65;
  background-color: #626ed4;
  color: #fff;
  cursor: not-allowed;
}
.wizard > .actions > ul > li,
.wizard > .steps > ul > li {
  float: left;
}
@media (max-width: 768px) {
  .wizard > .steps > ul > li {
    width: 50%;
  }
  .form-wizard-wrapper label {
    text-align: left;
  }
}
@media (max-width: 520px) {
  .wizard > .steps > ul > li {
    width: 100%;
  }
}
.table-rep-plugin .btn-toolbar {
  display: block;
}
.table-rep-plugin .table-responsive {
  border: none !important;
}
.table-rep-plugin .btn-group .btn-default {
  background-color: var(--bs-light);
  color: var(--bs-body-color);
  border: 1px solid var(--bs-light);
}
.table-rep-plugin .btn-group .btn-default.btn-primary {
  background-color: #626ed4;
  border-color: #626ed4;
  color: #fff;
  -webkit-box-shadow: 0 0 0 2px rgba(98, 110, 212, 0.5);
  box-shadow: 0 0 0 2px rgba(98, 110, 212, 0.5);
}
.table-rep-plugin .btn-group.pull-right {
  float: right;
}
.table-rep-plugin .btn-group.pull-right .dropdown-menu {
  right: 0;
  -webkit-transform: none !important;
  transform: none !important;
  top: 100% !important;
}
.table-rep-plugin tbody th {
  font-size: 14px;
  font-weight: 400;
}
.table-rep-plugin .checkbox-row {
  padding-left: 40px;
  color: var(--bs-body-color) !important;
}
.table-rep-plugin .checkbox-row:hover {
  background-color: #eff1f3 !important;
}
.table-rep-plugin .checkbox-row label {
  display: inline-block;
  padding-left: 5px;
  position: relative;
}
.table-rep-plugin .checkbox-row label::before {
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid var(--bs-border-color);
  content: "";
  display: inline-block;
  height: 17px;
  left: 0;
  margin-left: -20px;
  position: absolute;
  transition: 0.3s ease-in-out;
  width: 17px;
  outline: 0 !important;
}
.table-rep-plugin .checkbox-row label::after {
  color: #e9ecef;
  display: inline-block;
  font-size: 11px;
  height: 16px;
  left: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  position: absolute;
  top: -1px;
  width: 16px;
}
.table-rep-plugin .checkbox-row input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  outline: 0 !important;
}
.table-rep-plugin .checkbox-row input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}
.table-rep-plugin .checkbox-row input[type="checkbox"]:focus + label::before {
  outline-offset: -2px;
  outline: 0;
}
.table-rep-plugin .checkbox-row input[type="checkbox"]:checked + label::after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.table-rep-plugin
  .checkbox-row
  input[type="checkbox"]:disabled
  + label::before {
  background-color: #f8f9fa;
  cursor: not-allowed;
}
.table-rep-plugin .checkbox-row input[type="checkbox"]:checked + label::before {
  background-color: #626ed4;
  border-color: #626ed4;
}
.table-rep-plugin .checkbox-row input[type="checkbox"]:checked + label::after {
  color: #fff;
}
.table-rep-plugin .fixed-solution .sticky-table-header {
  top: 70px !important;
  background-color: #626ed4;
}
.table-rep-plugin .fixed-solution .sticky-table-header table {
  color: #fff;
}
.editable-input .form-control {
  display: inline-block;
}
.editable-buttons {
  margin-left: 7px;
}
.editable-buttons .editable-cancel {
  margin-left: 7px;
}
.morris-charts text {
  font-family: Sarabun, sans-serif !important;
  fill: #adb5bd;
}
.morris-hover {
  position: absolute;
  z-index: 10;
}
.morris-hover.morris-default-style {
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
  padding: 10px 12px;
  background: rgba(var(--bs-white-rgb), 0.8);
  color: var(--bs-dark);
  border: 2px solid var(--bs-border-color);
  font-family: var(--bs-font-sans-serif);
}
.morris-hover.morris-default-style .morris-hover-row-label {
  font-weight: 700;
  margin: 0.25em 0;
  font-family: Sarabun, sans-serif;
}
.morris-hover.morris-default-style .morris-hover-point {
  white-space: nowrap;
  margin: 0.1em 0;
  color: #fff;
}
.ct-golden-section:before {
  float: none;
}
.ct-chart {
  max-height: 300px;
}
.ct-chart .ct-label {
  fill: #adb5bd;
  color: #adb5bd;
  font-size: 12px;
  line-height: 1;
}
.ct-chart.simple-pie-chart-chartist .ct-label {
  color: #fff;
  fill: #fff;
  font-size: 16px;
}
.ct-grid {
  stroke: rgba(var(--bs-dark-rgb), 0.1);
  stroke-width: 1px;
  stroke-dasharray: 3px;
}
.ct-chart .ct-series.ct-series-a .ct-bar,
.ct-chart .ct-series.ct-series-a .ct-line,
.ct-chart .ct-series.ct-series-a .ct-point,
.ct-chart .ct-series.ct-series-a .ct-slice-donut {
  stroke: #626ed4;
}
.ct-chart .ct-series.ct-series-b .ct-bar,
.ct-chart .ct-series.ct-series-b .ct-line,
.ct-chart .ct-series.ct-series-b .ct-point,
.ct-chart .ct-series.ct-series-b .ct-slice-donut {
  stroke: #02a499;
}
.ct-chart .ct-series.ct-series-c .ct-bar,
.ct-chart .ct-series.ct-series-c .ct-line,
.ct-chart .ct-series.ct-series-c .ct-point,
.ct-chart .ct-series.ct-series-c .ct-slice-donut {
  stroke: #f8b425;
}
.ct-chart .ct-series.ct-series-d .ct-bar,
.ct-chart .ct-series.ct-series-d .ct-line,
.ct-chart .ct-series.ct-series-d .ct-point,
.ct-chart .ct-series.ct-series-d .ct-slice-donut {
  stroke: #2a3042;
}
.ct-chart .ct-series.ct-series-e .ct-bar,
.ct-chart .ct-series.ct-series-e .ct-line,
.ct-chart .ct-series.ct-series-e .ct-point,
.ct-chart .ct-series.ct-series-e .ct-slice-donut {
  stroke: #38a4f8;
}
.ct-chart .ct-series.ct-series-f .ct-bar,
.ct-chart .ct-series.ct-series-f .ct-line,
.ct-chart .ct-series.ct-series-f .ct-point,
.ct-chart .ct-series.ct-series-f .ct-slice-donut {
  stroke: #ec4561;
}
.ct-chart .ct-series.ct-series-g .ct-bar,
.ct-chart .ct-series.ct-series-g .ct-line,
.ct-chart .ct-series.ct-series-g .ct-point,
.ct-chart .ct-series.ct-series-g .ct-slice-donut {
  stroke: #f8f9fa;
}
.ct-series-a .ct-area,
.ct-series-a .ct-slice-pie {
  fill: #626ed4;
}
.ct-series-b .ct-area,
.ct-series-b .ct-slice-pie {
  fill: #f8b425;
}
.ct-series-c .ct-area,
.ct-series-c .ct-slice-pie {
  fill: #2a3042;
}
.ct-series-d .ct-area,
.ct-series-d .ct-slice-pie {
  fill: #02a499;
}
.ct-area {
  fill-opacity: 0.33;
}
.chartist-tooltip {
  position: absolute;
  display: inline-block;
  opacity: 0;
  min-width: 10px;
  padding: 2px 10px;
  border-radius: 3px;
  background: #2a3042;
  color: #dee2e6;
  text-align: center;
  pointer-events: none;
  z-index: 1;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.chartist-tooltip.tooltip-show {
  opacity: 1;
}
.ct-line {
  stroke-width: 3px;
}
.ct-point {
  stroke-width: 7px;
}
.apex-charts {
  min-height: 10px !important;
}
.apex-charts text {
  font-family: var(--bs-font-sans-serif) !important;
  fill: #adb5bd;
}
.apex-charts .apexcharts-canvas {
  margin: 0 auto;
}
.apexcharts-tooltip-text,
.apexcharts-tooltip-title {
  font-family: var(--bs-font-sans-serif) !important;
}
.apexcharts-tooltip {
  background-color: var(--bs-card-bg) !important;
  border: 1px solid var(--bs-border-color) !important;
  -webkit-box-shadow: var(--bs-box-shadow) !important;
  box-shadow: var(--bs-box-shadow) !important;
}
.apexcharts-tooltip-title {
  background-color: rgba(var(--bs-light-rgb), 0.75) !important;
  border-bottom: 1px solid var(--bs-border-color) !important;
}
.apexcharts-legend-series {
  font-weight: 500;
}
.apexcharts-gridline {
  pointer-events: none;
  stroke: var(--bs-border-color);
}
.apexcharts-legend-text {
  color: #6c757d !important;
  font-family: var(--bs-font-sans-serif) !important;
  font-size: 13px !important;
}
.apexcharts-pie-label {
  fill: #fff !important;
}
.apexcharts-xaxis text,
.apexcharts-yaxis text {
  font-family: var(--bs-font-sans-serif) !important;
  fill: #adb5bd;
}
.apexcharts-xaxistooltip {
  background: var(--bs-secondary-bg) !important;
  border-color: var(--bs-border-color) !important;
}
.flot-charts-height {
  height: 320px;
}
.flotTip {
  padding: 8px 12px;
  background-color: rgba(var(--bs-dark-rgb), 0.9);
  z-index: 100;
  color: var(--bs-white);
  -webkit-box-shadow: var(--bs-box-shadow);
  box-shadow: var(--bs-box-shadow);
  border-radius: 4px;
}
.legendLabel {
  color: #adb5bd;
}
.jqstooltip {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: auto !important;
  height: auto !important;
  background-color: var(--bs-dark) !important;
  -webkit-box-shadow: var(--bs-box-shadow);
  box-shadow: var(--bs-box-shadow);
  padding: 5px 10px !important;
  border-radius: 3px;
  border-color: var(--bs-dark) !important;
}
.jqsfield {
  color: var(--bs-white) !important;
  font-size: 12px !important;
  line-height: 18px !important;
  font-family: var(--bs-font-sans-serif) !important;
  font-weight: 500 !important;
}
.gmaps,
.gmaps-panaroma {
  height: 300px !important;
  background: #f8f9fa;
  border-radius: 3px;
}
.gmaps-overlay {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  background: #626ed4;
  border-radius: 4px;
  padding: 10px 20px;
}
.gmaps-overlay_arrow {
  left: 50%;
  margin-left: -16px;
  width: 0;
  height: 0;
  position: absolute;
}
.gmaps-overlay_arrow.above {
  bottom: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid #626ed4;
}
.gmaps-overlay_arrow.below {
  top: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #626ed4;
}
.account-pages .logo-admin {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 74px;
  height: 74px;
  line-height: 74px;
  background: var(--bs-secondary-bg);
  border-radius: 50%;
  border-bottom: 2px solid #02a499;
}
.accountbg {
  position: absolute;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
}
.account-page-full {
  left: 0;
  position: absolute;
  height: 100%;
  margin: 0;
  width: 420px;
  background-color: var(--bs-secondary-bg);
}
.account-page-full .card {
  border: none;
}
.account-copyright {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.home-btn {
  position: absolute;
  top: 15px;
  right: 25px;
}
.maintenance-img img {
  max-width: 320px;
}
.coming-soon-search-form input {
  padding: 15px 20px;
  width: 100%;
  color: #2a3042;
  border: 2px solid #e9ecef;
  outline: 0 !important;
  padding-right: 180px;
  padding-left: 30px;
  border-radius: 30px;
  background-color: var(--bs-secondary-bg);
}
.coming-soon-search-form button {
  position: absolute;
  top: 7px;
  right: 8px;
  outline: 0 !important;
  border-radius: 30px;
  padding: 9px 30px;
}
.coming-soon-search-form form {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}
.email-leftbar {
  width: 236px;
  float: left;
  padding: 20px;
  border-radius: 5px;
}
.email-rightbar {
  margin-left: 260px;
}
.chat-user-box p.user-title {
  color: var(--bs-body-color);
  font-weight: 500;
}
.chat-user-box p {
  font-size: 12px;
}
@media (max-width: 767px) {
  .email-leftbar {
    float: none;
    width: 100%;
  }
  .email-rightbar {
    margin: 0;
  }
}
.mail-list a {
  display: block;
  color: var(--bs-secondary-color);
  line-height: 24px;
  padding: 8px 5px;
}
.mail-list a.active {
  color: #ec4561;
  font-weight: 500;
}
.message-list {
  display: block;
  padding-left: 0;
}
.message-list li {
  position: relative;
  display: block;
  height: 50px;
  line-height: 50px;
  cursor: default;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.message-list li a {
  color: var(--bs-secondary-color);
}
.message-list li:hover {
  background: var(--bs-tertiary-bg);
  -webkit-transition-duration: 50ms;
  transition-duration: 50ms;
}
.message-list li .col-mail {
  float: left;
  position: relative;
}
.message-list li .col-mail-1 {
  width: 320px;
}
.message-list li .col-mail-1 .checkbox-wrapper-mail,
.message-list li .col-mail-1 .dot,
.message-list li .col-mail-1 .star-toggle {
  display: block;
  float: left;
}
.message-list li .col-mail-1 .dot {
  border: 4px solid transparent;
  border-radius: 100px;
  margin: 22px 26px 0;
  height: 0;
  width: 0;
  line-height: 0;
  font-size: 0;
}
.message-list li .col-mail-1 .checkbox-wrapper-mail {
  margin: 15px 10px 0 20px;
}
.message-list li .col-mail-1 .star-toggle {
  margin-top: 18px;
  margin-left: 5px;
}
.message-list li .col-mail-1 .title {
  position: absolute;
  top: 0;
  left: 110px;
  right: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0;
}
.message-list li .col-mail-2 {
  position: absolute;
  top: 0;
  left: 320px;
  right: 0;
  bottom: 0;
}
.message-list li .col-mail-2 .date,
.message-list li .col-mail-2 .subject {
  position: absolute;
  top: 0;
}
.message-list li .col-mail-2 .subject {
  left: 0;
  right: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.message-list li .col-mail-2 .date {
  right: 0;
  width: 170px;
  padding-left: 80px;
}
.message-list li.active,
.message-list li.active:hover {
  -webkit-box-shadow: inset 3px 0 0 #626ed4;
  box-shadow: inset 3px 0 0 #626ed4;
}
.message-list li.unread {
  background-color: var(--bs-tertiary-bg);
  font-weight: 500;
  color: var(--bs-body-color);
}
.message-list li.unread a {
  color: var(--bs-body-color);
  font-weight: 500;
}
.message-list .checkbox-wrapper-mail {
  cursor: pointer;
  height: 20px;
  width: 20px;
  position: relative;
  display: inline-block;
  -webkit-box-shadow: inset 0 0 0 1px #ced4da;
  box-shadow: inset 0 0 0 1px #ced4da;
  border-radius: 1px;
}
.message-list .checkbox-wrapper-mail input {
  opacity: 0;
  cursor: pointer;
}
.message-list .checkbox-wrapper-mail input:checked ~ label {
  opacity: 1;
}
.message-list .checkbox-wrapper-mail label {
  position: absolute;
  height: 20px;
  width: 20px;
  left: 0;
  cursor: pointer;
  opacity: 0;
  margin-bottom: 0;
  -webkit-transition-duration: 50ms;
  transition-duration: 50ms;
  top: 0;
}
.message-list .checkbox-wrapper-mail label:before {
  content: "\f012c";
  font-family: "Material Design Icons";
  top: 0;
  height: 20px;
  color: var(--bs-body-color);
  width: 20px;
  position: absolute;
  margin-top: -16px;
  left: 4px;
  font-size: 13px;
}
@media (max-width: 575.98px) {
  .message-list li .col-mail-1 {
    width: 200px;
  }
}
.main {
  background-color: var(--bs-secondary-bg) !important;
  color: var(--bs-body-color) !important;
  border-color: var(--bs-border-color) !important;
}
.content-wrap {
  background-color: var(--bs-secondary-bg) !important;
  color: var(--bs-body-color) !important;
  border-color: var(--bs-border-color) !important;
}
.content-wrap .aligncenter {
  color: var(--bs-body-color) !important;
}
.content-wrap .invoice-items td {
  border-top-color: var(--bs-border-color) !important;
}
.counter-number {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  color: #626ed4;
}
.counter-number span {
  font-size: 16px;
  font-weight: 400;
  display: block;
  padding-top: 7px;
  color: var(--bs-secondary-color);
}
.coming-box {
  float: left;
  width: 21%;
  padding: 14px 7px;
  margin: 0 0.75rem 1.5rem 0.75rem;
  background-color: var(--bs-secondary-bg);
  border-radius: calc(var(--bs-border-radius) - 0);
  -webkit-box-shadow: var(--bs-box-shadow);
  box-shadow: var(--bs-box-shadow);
}
@media (max-width: 991.98px) {
  .coming-box {
    width: 40%;
  }
}
.timeline {
  padding-left: 60px;
  padding-right: 60px;
}
.timeline .timeline-list {
  position: relative;
  padding: 60px;
  border-left: 3px dashed var(--bs-border-color);
  border-bottom: 3px dashed var(--bs-border-color);
}
.timeline .timeline-list .cd-timeline-content {
  border-radius: 7px;
  background: #f8f9fa;
}
.timeline .timeline-list .cd-timeline-content .date {
  position: absolute;
  top: 60px;
  left: -39px;
  padding: 24px;
  color: #fff;
  border-radius: 7px;
}
.timeline .timeline-list.right {
  border-left: 0;
  border-right: 3px dashed var(--bs-border-color);
  border-bottom: 3px dashed var(--bs-border-color);
}
.timeline .timeline-list.right .cd-timeline-content {
  float: right;
  text-align: right;
}
.timeline .timeline-list.right .cd-timeline-content .date {
  right: -39px;
  left: inherit !important;
}
.timeline .timeline-list.right:last-child {
  border-bottom: 0;
}
@media only screen and (min-width: 1025px) {
  #cd-timeline {
    margin-bottom: 3em;
    margin-top: 3em;
  }
  .cd-timeline-content {
    width: 56%;
  }
}
@media (max-width: 768px) {
  .timeline {
    padding-left: 15px;
    padding-right: 15px;
  }
  .timeline .timeline-list {
    padding: 15px;
  }
  .timeline .timeline-list .date {
    top: 18px !important;
    left: -30px !important;
    padding: 14px !important;
  }
  .timeline .timeline-list.right .date {
    right: -30px !important;
  }
}
body[data-bs-theme="dark"] .timeline .cd-timeline-content {
  background: var(--bs-light) !important;
}
.product-sale .text-white {
  color: #fff !important;
}
.plan-box .plan-btn {
  position: relative;
}
.plan-box .plan-btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #dee2e6;
  left: 0;
  right: 0;
  top: 12px;
}
.social-links li a {
  margin-bottom: 6px;
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
}
.activity-checkout .checkout-item {
  position: relative;
  padding-bottom: 24px;
  padding-left: 35px;
  border-left: 2px solid #626ed4;
}
.activity-checkout .checkout-item:last-child {
  border-color: transparent;
}
.activity-checkout .checkout-icon {
  position: absolute;
  top: -4px;
  left: -25px;
}
.faq {
  position: relative;
}
.faq .accordion-header {
  border: none;
  background: 0 0;
}
.accordion .accordion-item {
  border-radius: 4px !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.accordion .accordion-button {
  font-weight: 500;
}
.faq[data-bs-toggle="collapse"]:after {
  content: "\f0377";
  display: block;
  font-family: "Material Design Icons";
  font-size: 20px;
  color: var(--bs-secondary-color);
  position: absolute;
  right: 20px;
  font-weight: 500;
  top: 50%;
  background-image: none;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.faq[data-bs-toggle="collapse"].collapsed::after {
  content: "\f0419";
}
.accordion-item:not(:first-of-type) {
  border-top: 1px solid var(--bs-border-color);
}
[data-bs-theme="dark"]
  .form-switch
  .form-check-input:not(:checked):not(:focus) {
  --bs-form-switch-bg: url('data:image/svg + xml,
    %3csvgxmlns="http://www.w3.org/2000/svg"viewBox="-4 -4 8 8"%3e%3ccircler="3"fill="rgba%28255, 255, 255, 0.25%29"/%3e%3c/svg%3e');
}
.form-switch .form-check-input {
  --bs-form-switch-bg: url('data:image/svg + xml,
    %3csvgxmlns="http://www.w3.org/2000/svg"viewBox="-4 -4 8 8"%3e%3ccircler="3"fill="rgba%280, 0, 0, 0.25%29"/%3e%3c/svg%3e');
  width: 2em;
  margin-left: -2.5em;
  background-image: var(--bs-form-switch-bg);
  background-position: left center;
  border-radius: 2em;
  -webkit-transition: background-position 0.15s ease-in-out;
  transition: background-position 0.15s ease-in-out;
}
.form-check-input[type="checkbox"] {
  border-radius: 0.25em;
}
.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
}
.overlay-container {
  position: relative;
}
.project-item {
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 30px;
}
.project-item img.gallery-thumb-img {
  display: block;
  width: 100%;
  height: auto;
}
.project-item-overlay {
  background: none repeat scroll 0 0 var(--bs-secondary-bg);
  position: absolute;
  transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.project-item-overlay h4 {
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  color: var(--bs-dark);
  position: absolute;
  top: 7%;
  left: 7%;
  margin: 0;
  text-overflow: ellipsis;
}
.project-item-overlay p {
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;
  color: var(--bs-dark);
  position: absolute;
  overflow: hidden;
  bottom: 7%;
  left: 7%;
  text-overflow: ellipsis;
  margin: 0;
}
.overlay-container:hover .project-item-overlay {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  visibility: visible;
}
/*# sourceMappingURL=app.min.css.map */
